include ../data/_data
include ../mixins/_import

doctype html

//- Variables
block vars
  - var page

//- Template
html(lang=__('lang') dir=__('direction'))
  head
    include ../partials/_head
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500")
    link(rel="stylesheet" href=__('style'))
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-141215830-1")
    script(src="/x-assets/scripts/uikit.js")
    script(src="/x-assets/scripts/uikit-icons.js")
    block title


  body
    div.uk-offcanvas-content
      block index
      block pagination
    script(src="/x-assets/scripts/script.js")
    script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyClyjCemJi4m2q78gNeGkhlckpdH1hzTYA&callback=initMap"
           async
           defer)